<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayonico</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!--Cabecera-->
    <header class="header">
        <a href="#" class="logo">Majo.</a>

        <i class="fa-solid fa-bars" id="menu-icon"></i>

        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="productos.html">Servicios</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html" class="active">Contacto</a>
        </nav>
    </header>
         
    <!--Información personal -->

    <section class="contact">
        <div class="container">
            <h2>Contáctame</h2>
            <p>Si quieres ponerte en contacto conmigo y obtener más información.</p>
        </div>

        <div class="contactInfo">
            <div class="text">
                <h3>Dirección</h3>
                <p>San Juan Bosco <br>Almería, 04005</p>
            </div>

            <div class="text">
                <h3>Teléfono</h3>
                <p>622 622 622</p>
             </div>

            <div class="text">
                <h3>Email</h3>
                <p>mayonico159@gmail.com</p>
            </div>
        </div>

        <div class="contactInfo2">
            <h2>Nos encontramos aqui...</h2>
        </div>
              
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.9936276379735!2d-2.457506624318804!3d36.84262866530705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7a9dfdf8c5fa61%3A0x157c2131e4e345a3!2sC.%20San%20Juan%20Bosco%2C%2004005%20Almer%C3%ADa!5e0!3m2!1sen!2ses!4v1729268725572!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </section>
  
<!--Footer-->
<footer class="footer">
    <div class="social">
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.github.com/"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
    </div>
    <ul class="list">
        <li><a href="#"></a>FAQ.</li>
        <li><a href="#"></a>Service.</li>
        <li><a href="#"></a>About.</li>
        <li><a href="#"></a>San Juan Bosco, Almería.</li>
        <li><a href="#"></a>Privacy Policies.</li>
    </ul>
</footer>

    <script src="../js/javascript.js"></script>
</body>
</html>