<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayonico</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Majo.</a>
        <i class="fa-solid fa-bars" id="menu-icon"></i>
        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="productos.html" class="active">Servicios</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>
    <!--Productos en forma de cuadricula-->
    <section class="services" id="services">
        <div class="services-container">
            <div class="service-box">
                <div class="service-info">
                    <h4>Graphic Designer</h4>
                    <p> Soy una apasionada diseñadora y desarrolladora frontend con experiencia en la creación de interfaces web visualmente atractivas y funcionalmente sólidas. Mi enfoque principal es combinar mis habilidades en diseño.</p>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Frontend Developer</h4>
                    <p>Soy un apasionado desarrollador de frontend con experiencia en la creación de interfaces web y aplicaciones interactivas. Mis habilidades incluyen HTML, CSS, JavaScript y diversos frameworks como React, Angular y Vue.js. Disfruto colaborar en equipos.</p>
                </div>
            </div>
            
            <div class="service-box">
                <div class="service-info">
                    <h4> UI / UX Desing</h4>
                    <p>Mi enfoque centrado en el usuario y mi atención al detalle en proyectos de diseño de interfaces (UI) y experiencia de usuario (UX), con el objetivo de crear experiencias digitales impactantes que satisfagan las necesidades del usuario.</p>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Content Manager</h4>
                    <p>Mi enfoque se centra en la generación de contenido relevante y atractivo para el público objetivo, con el objet
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Software Tester</h4>
                    <p>Mi enfoque se centra en la generación de contenido relevante y atractivo para el público objetivo, con el objetivo de aumentar la visibilidad y el compromiso con la marca.</p>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>ISO Developer</h4>
                    <p>Identifico y capto los errores, así como  la elaboración de informes detallados sobre el rendimiento del software. Además, resalto mi capacidad para trabajar en estrecha colaboración con equipos de desarrollo para garantizar la calidad.</p>
                </div>
            </div>
        </div>
    </section>
    <!--Imagenes de la tecnología-->
    <section class="image-grid">
        <h2>Galería de Imágenes</h2>
        <div class="grid-container">
            <div class="grid-item"><img src="../images/html.png" alt="Html"></div>
            <div class="grid-item"><img src="../images/css.png" alt="Css"></div>
            <div class="grid-item"><img src="../images/javascript.png" alt="JavaScript"></div>
            <div class="grid-item"><img src="../images/mysql.png" alt="mysql"></div>
            <div class="grid-item"><img src= "../images/wordpress.png" alt="wordpress"></div>
            <div class="grid-item"><img src="../images/php.png" alt="php"></div>
        </div>
    </section>
    <!--Footer-->
    <footer class="footer">
        <div class="social">
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.github.com/"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <ul class="list">
            <li><a href="#"></a>FAQ.</li>
            <li><a href="#"></a>Service.</li>
            <li><a href="#"></a>About.</li>
            <li><a href="#"></a>San Juan Bosco, Almería.</li>
            <li><a href="#"></a>Privacy Policies.</li>
        </ul>
    </footer>
</body>
</html>